#executables
Yave
Yave.exe
libassimp-5.dll

#vscode
.vscode/*
.vscode/settings.json
.vscode/c_cpp_properties.json

#precompiled objects
*.o
imgui.ini
libYaveAll.a

#cmake
CMakeFiles/
cmake_install.cmake
Makefile
CMakeCache.txt



#additional
additional/glad/src
additional/glad/libglad.a
additional/windows/assimp
additional/windows/cmake
additional/windows/glad
additional/windows/GLFW
additional/windows/glm
additional/windows/MinGW
additional/windows/stb_image