Yave
.vscode/*
.vscode/settings.json
*.o
imgui.ini

.vscode/c_cpp_properties.json
CMakeFiles/
cmake_install.cmake
Makefile
CMakeCache.txt
libYaveAll.a
glfw3.dll
build/
additional/glad/src
libassimp-5.dll
Yave.exe
additional/glad/libglad.a
