#vscode
.vscode/*
.vscode/settings.json
.vscode/c_cpp_properties.json

#precompiled objects
*.a
*.o
imgui.ini

#cmake
[Bb][Uu][Ii][Ll][Dd]

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

#additional
additional/glad/src
additional/glad/libglad.a
additional/windows/assimp
additional/windows/cmake
additional/windows/glad
additional/windows/GLFW
additional/windows/glm
additional/windows/MinGW
additional/windows/stb_image

#vork
.vork